In [1]:
import pandas as pd

In [2]:
df = pd.read_excel('Higher Education Students Survey (Responses) - Form responses 1.xlsx')
df.columns = ['timestamp', 'email', 'gender', 'age', 'highest_degree', 'area_of_study', 'bachelor_major', 'master_major', 'further_study_yn', 'further_study_major_yn', 'further_study_major', 'short_learning_yn', 'short_learning_courses', 'top3_criteria']
df.head()

,timestamp,email,gender,age,highest_degree,area_of_study,bachelor_major,master_major,further_study_yn,further_study_major_yn,further_study_major,short_learning_yn,short_learning_courses,top3_criteria
0,20/04/2021 09:46:35,sowel.mahmood@uts.edu.au,Male,35-50,Masters' Degree,Computer Science & Information Technology,Computer Science & Information Technology,Computer Science & Information Technology,"Yes, I want to","Yes, I do",Computer Science & Information Technology,"No, I haven’t got",NaN,"Career Opportunities, Duration of Study, Locat..."
1,20/04/2021 10:32:19,wafamatara.alharbi@student.uts.edu.au,Female,20-35,Masters' Degree,Computer Science & Information Technology,Computer Science & Information Technology,Computer Science & Information Technology,"Yes, I want to","Yes, I do",Computer Science & Information Technology,"Yes, I got","Engineering, Computer Science & Information Te...","Career Opportunities, Institution Ranking, Loc..."
2,21/04/2021 23:56:49,suhair.alotaibi@student.uts.edu.au,Female,20-35,Masters' Degree,Computer Science & Information Technology,Computer Science & Information Technology,Computer Science & Information Technology,"Yes, I want to","Yes, I do",Computer Science & Information Technology,"Yes, I got",Computer Science & Information Technology,"Institution Ranking, Location of University"
3,22/04/2021 06:21:46,mwaheb.almadani@student.uts.edu.au,Female,35-50,Doctorate Degree,Computer Science & Information Technology,Computer Science & Information Technology,Computer Science & Information Technology,I am not sure,I am not sure,Computer Science & Information Technology,"Yes, I got",Computer Science & Information Technology,"Institution Ranking, Official language, Locati..."
4,22/04/2021 18:20:35,abeer.mirdad@student.uts.edu.au,Female,20-35,Masters' Degree,Computer Science & Information Technology,Computer Science & Information Technology,Computer Science & Information Technology,"Yes, I want to","No, I do not",Computer Science & Information Technology,"No, I haven’t got",NaN,"Institution Ranking, Official language, Durati..."

In [3]:
df['top3_criteria'] = df['top3_criteria'].apply(lambda x: x.split(', '))

In [4]:
df_criteria = pd.get_dummies(df['top3_criteria'].apply(pd.Series).stack()).sum(level=0)
df_criteria

/var/folders/tg/dl64xnb95yzf4wzkrq40hxgw0000gn/T/ipykernel_8250/3419123283.py:1: FutureWarning: Using the level keyword in DataFrame and Series aggregations is deprecated and will be removed in a future version. Use groupby instead. df.sum(level=1) should use df.groupby(level=1).sum().
  df_criteria = pd.get_dummies(df['top3_criteria'].apply(pd.Series).stack()).sum(level=0)

,Career Opportunities,Duration of Study,Institution Ranking,Location of University,Official language,Overall Cost
0,1,1,0,1,0,0
1,1,0,1,1,0,0
2,0,0,1,1,0,0
3,0,0,1,1,1,0
4,0,1,1,1,1,0
...,...,...,...,...,...,...
215,0,0,0,1,1,0
216,1,0,0,1,1,0
217,0,1,0,1,1,0
218,0,1,0,1,0,1
219,1,1,1,1,1,1

In [5]:
df = pd.concat([df, df_criteria], axis=1)

In [6]:
df.drop(['timestamp', 'email', 'top3_criteria'], axis=1, inplace=True)

In [7]:
df.head(5)

,gender,age,highest_degree,area_of_study,bachelor_major,master_major,further_study_yn,further_study_major_yn,further_study_major,short_learning_yn,short_learning_courses,Career Opportunities,Duration of Study,Institution Ranking,Location of University,Official language,Overall Cost
0,Male,35-50,Masters' Degree,Computer Science & Information Technology,Computer Science & Information Technology,Computer Science & Information Technology,"Yes, I want to","Yes, I do",Computer Science & Information Technology,"No, I haven’t got",NaN,1,1,0,1,0,0
1,Female,20-35,Masters' Degree,Computer Science & Information Technology,Computer Science & Information Technology,Computer Science & Information Technology,"Yes, I want to","Yes, I do",Computer Science & Information Technology,"Yes, I got","Engineering, Computer Science & Information Te...",1,0,1,1,0,0
2,Female,20-35,Masters' Degree,Computer Science & Information Technology,Computer Science & Information Technology,Computer Science & Information Technology,"Yes, I want to","Yes, I do",Computer Science & Information Technology,"Yes, I got",Computer Science & Information Technology,0,0,1,1,0,0
3,Female,35-50,Doctorate Degree,Computer Science & Information Technology,Computer Science & Information Technology,Computer Science & Information Technology,I am not sure,I am not sure,Computer Science & Information Technology,"Yes, I got",Computer Science & Information Technology,0,0,1,1,1,0
4,Female,20-35,Masters' Degree,Computer Science & Information Technology,Computer Science & Information Technology,Computer Science & Information Technology,"Yes, I want to","No, I do not",Computer Science & Information Technology,"No, I haven’t got",NaN,0,1,1,1,1,0

In [8]:
df_obj = df.select_dtypes(['object'])
df[df_obj.columns] = df_obj.apply(lambda x: x.str.strip())

In [9]:
df['bachelor_major']

0      Computer Science & Information Technology
1      Computer Science & Information Technology
2      Computer Science & Information Technology
3      Computer Science & Information Technology
4      Computer Science & Information Technology
                         ...
215    Computer Science & Information Technology
216                        Business & Management
217                                      Science
218                                      Science
219                                          NaN
Name: bachelor_major, Length: 220, dtype: object

In [10]:
df = pd.get_dummies(data=df, columns=['gender', 'age', 'highest_degree', 'area_of_study', 'bachelor_major', 'master_major', 'further_study_yn', 'further_study_major_yn', 'short_learning_yn', 'short_learning_courses'])
df

,further_study_major,Career Opportunities,Duration of Study,Institution Ranking,Location of University,Official language,Overall Cost,gender_Female,gender_Male,age_18-28,...,"short_learning_courses_Medicine, Computer Science & Information Technology","short_learning_courses_Medicine, Nursing","short_learning_courses_Medicine, Science",short_learning_courses_No,short_learning_courses_Nursing,short_learning_courses_Research skills,short_learning_courses_Science,"short_learning_courses_Science, educational diploma",short_learning_courses_Statistics,short_learning_courses_nothing
0,Computer Science & Information Technology,1,1,0,1,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
1,Computer Science & Information Technology,1,0,1,1,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
2,Computer Science & Information Technology,0,0,1,1,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
3,Computer Science & Information Technology,0,0,1,1,1,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
4,Computer Science & Information Technology,0,1,1,1,1,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
215,Computer Science & Information Technology,0,0,0,1,1,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
216,Business & Management,1,0,0,1,1,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
217,Science,0,1,0,1,1,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
218,Medicine,0,1,0,1,0,1,1,0,0,...,0,0,0,0,0,0,0,0,0,0
219,Business & Management,1,1,1,1,1,1,0,1,0,...,0,0,0,0,0,0,0,0,0,0

In [11]:
df = df[~df['further_study_major'].isnull()].reset_index(drop=True)
df

,further_study_major,Career Opportunities,Duration of Study,Institution Ranking,Location of University,Official language,Overall Cost,gender_Female,gender_Male,age_18-28,...,"short_learning_courses_Medicine, Computer Science & Information Technology","short_learning_courses_Medicine, Nursing","short_learning_courses_Medicine, Science",short_learning_courses_No,short_learning_courses_Nursing,short_learning_courses_Research skills,short_learning_courses_Science,"short_learning_courses_Science, educational diploma",short_learning_courses_Statistics,short_learning_courses_nothing
0,Computer Science & Information Technology,1,1,0,1,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
1,Computer Science & Information Technology,1,0,1,1,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
2,Computer Science & Information Technology,0,0,1,1,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
3,Computer Science & Information Technology,0,0,1,1,1,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
4,Computer Science & Information Technology,0,1,1,1,1,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
198,Computer Science & Information Technology,0,0,0,1,1,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
199,Business & Management,1,0,0,1,1,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
200,Science,0,1,0,1,1,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
201,Medicine,0,1,0,1,0,1,1,0,0,...,0,0,0,0,0,0,0,0,0,0
202,Business & Management,1,1,1,1,1,1,0,1,0,...,0,0,0,0,0,0,0,0,0,0

In [12]:
df.columns.tolist()

['further_study_major',
 'Career Opportunities',
 'Duration of Study',
 'Institution Ranking',
 'Location of University',
 'Official language',
 'Overall Cost',
 'gender_Female',
 'gender_Male',
 'age_18-28',
 'age_20-35',
 'age_28-38',
 'age_35-50',
 'age_38-50',
 'age_Greater than 50',
 "highest_degree_Bachelors' Degree",
 'highest_degree_Diploma Degree',
 'highest_degree_Diploma of nursing',
 'highest_degree_Doctorate Degree',
 'highest_degree_Graduate Diploma',
 'highest_degree_High School',
 "highest_degree_Masters' Degree",
 'area_of_study_Architecture and urban planning',
 'area_of_study_Arts & Humanities',
 'area_of_study_Business & Management',
 'area_of_study_Computer Science & Information Technology',
 'area_of_study_Digital medyi',
 'area_of_study_Education',
 'area_of_study_Education in leadership',
 'area_of_study_Engineering',
 'area_of_study_Health',
 'area_of_study_Law',
 'area_of_study_Medicine',
 'area_of_study_Nursing',
 'area_of_study_Public Health',
 'area_of_study_Science',
 'bachelor_major_Architecture',
 'bachelor_major_Arts & Humanities',
 'bachelor_major_Business & Management',
 'bachelor_major_Computer Science & Information Technology',
 'bachelor_major_Dual degree: Law + Arts',
 'bachelor_major_EDUCATION',
 'bachelor_major_Education',
 'bachelor_major_Engineering',
 'bachelor_major_Law',
 'bachelor_major_Library and information science',
 'bachelor_major_Medicine',
 'bachelor_major_Midical science',
 'bachelor_major_Movement Science',
 'bachelor_major_Nursing',
 'bachelor_major_Nursing Science',
 'bachelor_major_Nursing since',
 'bachelor_major_Science',
 'bachelor_major_library',
 'master_major_Advanced Nursing',
 'master_major_Advanced nursing',
 'master_major_Architecture',
 'master_major_Arts & Humanities',
 'master_major_Business & Management',
 'master_major_Computer Science & Information Technology',
 'master_major_Currently doing PhD in CyberSecurity',
 "master_major_Did Honours and skipped Master's",
 "master_major_Didn't complete a Masters prior to enrolling as a PhD student",
 'master_major_Education',
 'master_major_Engineering',
 'master_major_Engineering and Computer science',
 'master_major_I am not',
 'master_major_I didn’t do a Master’s degree',
 'master_major_I have an MA in Communication, an MA in Asian Studies & an MBA (Executive)',
 'master_major_Law',
 'master_major_Medicine',
 'master_major_Science',
 'master_major_not phd student now',
 'master_major_science teaching methods',
 'further_study_yn_I am not sure',
 'further_study_yn_No, I don’t want to',
 'further_study_yn_Yes, I want to',
 'further_study_major_yn_I am not sure',
 'further_study_major_yn_No, I do not',
 'further_study_major_yn_Yes, I do',
 'short_learning_yn_No, I haven’t got',
 'short_learning_yn_Yes, I got',
 'short_learning_courses_Accounting & Finance',
 'short_learning_courses_Accounting & Finance, Business & Management',
 'short_learning_courses_Accounting & Finance, Business & Management, Computer Science & Information Technology',
 'short_learning_courses_Accounting & Finance, Computer Science & Information Technology',
 'short_learning_courses_Accounting & Finance, Economics & Econometrics, Business & Management',
 'short_learning_courses_Accounting & Finance, Economics & Econometrics, Business & Management, Computer Science & Information Technology',
 'short_learning_courses_Architecture',
 'short_learning_courses_Architecture, Arts & Humanities, Science',
 'short_learning_courses_Architecture, Engineering, Computer Science & Information Technology',
 'short_learning_courses_Arts & Humanities',
 'short_learning_courses_Arts & Humanities, Business & Management',
 'short_learning_courses_Arts & Humanities, Computer Science & Information Technology',
 'short_learning_courses_Arts & Humanities, Computer Science & Information Technology, Science',
 'short_learning_courses_Arts & Humanities, Engineering, Business & Management',
 'short_learning_courses_Arts & Humanities, Engineering, Science',
 'short_learning_courses_Arts & Humanities, Law, Business & Management, Computer Science & Information Technology, Science',
 'short_learning_courses_Arts & Humanities, Law, Medicine',
 'short_learning_courses_Arts & Humanities, Medicine, Business & Management',
 'short_learning_courses_Arts & Humanities, Science',
 'short_learning_courses_Business & Management',
 'short_learning_courses_Business & Management, Computer Science & Information Technology',
 'short_learning_courses_Business & Management, Science',
 'short_learning_courses_Certificate in Digital Accessibility',
 'short_learning_courses_Computer Science & Information Technology',
 'short_learning_courses_Computer Science & Information Technology, Improve writing',
 'short_learning_courses_Computer Science & Information Technology, Science',
 'short_learning_courses_Economics & Econometrics, Business & Management, Computer Science & Information Technology',
 'short_learning_courses_Education',
 'short_learning_courses_Engineering',
 'short_learning_courses_Engineering, Business & Management, Computer Science & Information Technology',
 'short_learning_courses_Engineering, Business & Management, Computer Science & Information Technology, Science',
 'short_learning_courses_Engineering, Computer Science & Information Technology',
 'short_learning_courses_Engineering, Computer Science & Information Technology, Science',
 'short_learning_courses_Engineering, Law, Economics & Econometrics, Business & Management, Computer Science & Information Technology',
 'short_learning_courses_Engineering, Medicine, Business & Management',
 'short_learning_courses_Engineering, Medicine, Computer Science & Information Technology',
 'short_learning_courses_Law',
 'short_learning_courses_Medicine',
 'short_learning_courses_Medicine, Computer Science & Information Technology',
 'short_learning_courses_Medicine, Nursing',
 'short_learning_courses_Medicine, Science',
 'short_learning_courses_No',
 'short_learning_courses_Nursing',
 'short_learning_courses_Research skills',
 'short_learning_courses_Science',
 'short_learning_courses_Science, educational diploma',
 'short_learning_courses_Statistics',
 'short_learning_courses_nothing']

In [13]:
import re
df = df.rename(columns = lambda x:re.sub('[^A-Za-z0-9_]+', '', x))

In [14]:
from sklearn.model_selection import train_test_split
from sklearn.neighbors import KNeighborsClassifier
from sklearn.datasets import load_digits
# from sklearn.metrics import plot_confusion_matrix 


x = df.drop(['further_study_major'],axis=1)
y = df.further_study_major
x_train, x_test, y_train, y_test = train_test_split(x, y, random_state = 21, test_size = 0.25)

In [15]:
x_train

,CareerOpportunities,DurationofStudy,InstitutionRanking,LocationofUniversity,Officiallanguage,OverallCost,gender_Female,gender_Male,age_1828,age_2035,...,short_learning_courses_MedicineComputerScienceInformationTechnology,short_learning_courses_MedicineNursing,short_learning_courses_MedicineScience,short_learning_courses_No,short_learning_courses_Nursing,short_learning_courses_Researchskills,short_learning_courses_Science,short_learning_courses_Scienceeducationaldiploma,short_learning_courses_Statistics,short_learning_courses_nothing
149,1,1,0,1,0,0,1,0,1,0,...,0,0,0,0,0,0,0,0,0,0
26,1,0,1,0,1,0,1,0,0,1,...,0,0,0,0,0,0,0,0,0,0
136,0,1,1,1,0,0,0,1,1,0,...,0,0,0,0,0,0,0,0,0,0
111,1,0,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
85,1,0,1,1,0,0,1,0,0,1,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
112,0,1,1,0,0,1,1,0,0,0,...,0,0,0,0,0,1,0,0,0,0
48,1,0,0,1,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,1,1,1,1,0,1,0,0,1,...,0,0,0,0,0,0,0,0,0,0
56,1,0,1,1,0,0,0,1,0,1,...,0,0,0,0,0,0,0,0,0,0
201,0,1,0,1,0,1,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [17]:
from xgboost import XGBClassifier
from sklearn.neural_network import MLPClassifier
from sklearn.ensemble import RandomForestClassifier
# import lightgbm as lgb


from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
y_train = le.fit_transform(y_train)


# model = lgb.LGBMClassifier()
# model = XGBClassifier(random_state=21).fit(x_train,y_train)
model = MLPClassifier(hidden_layer_sizes=(100,50,25), activation='relu', solver='adam', max_iter=500).fit(x_train, y_train)
# model = RandomForestClassifier(random_state=21).fit(x_train,y_train)


model.fit(x_train, y_train)

y_pred = model.predict(x_test)
y_pred = le.inverse_transform(y_pred)

In [18]:
from sklearn.metrics import accuracy_score

accuracy_score(y_test, y_pred)

0.8235294117647058

In [20]:
from sklearn.metrics import classification_report
report = pd.DataFrame(classification_report(y_test, y_pred, output_dict=True)).transpose()
report

/Volumes/Untitled/venv/lib/python3.8/site-packages/sklearn/metrics/_classification.py:1344: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
/Volumes/Untitled/venv/lib/python3.8/site-packages/sklearn/metrics/_classification.py:1344: UndefinedMetricWarning: Recall and F-score are ill-defined and being set to 0.0 in labels with no true samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
/Volumes/Untitled/venv/lib/python3.8/site-packages/sklearn/metrics/_classification.py:1344: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
/Volumes/Untitled/venv/lib/python3.8/site-packages/sklearn/metrics/_classification.py:1344: UndefinedMetricWarning: Recall and F-score are ill-defined and being set to 0.0 in labels with no true samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
/Volumes/Untitled/venv/lib/python3.8/site-packages/sklearn/metrics/_classification.py:1344: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
/Volumes/Untitled/venv/lib/python3.8/site-packages/sklearn/metrics/_classification.py:1344: UndefinedMetricWarning: Recall and F-score are ill-defined and being set to 0.0 in labels with no true samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))

,precision,recall,f1-score,support
Arts & Humanities,0.000000,0.000000,0.000000,0.000000
Business & Management,0.800000,0.666667,0.727273,6.000000
Computer Science & Information Technology,0.888889,0.923077,0.905660,26.000000
Engineering,0.666667,1.000000,0.800000,2.000000
Law,0.000000,0.000000,0.000000,1.000000
Medicine,0.777778,0.777778,0.777778,9.000000
Pediatric nursing,0.000000,0.000000,0.000000,1.000000
Science,0.833333,0.833333,0.833333,6.000000
accuracy,0.823529,0.823529,0.823529,0.823529
macro avg,0.495833,0.525107,0.505506,51.000000
weighted avg,0.808715,0.823529,0.813937,51.000000

In [19]:
y_test1 = pd.DataFrame(y_test)
y_test1['pred'] = y_pred
y_test1 =  y_test1.reset_index()
y_test1.to_csv('mlp_y_test_pred.csv')