In [3]:
import pandas as pd


df = pd.read_csv('D:\Work\huda\output.csv', low_memory=False)

df.head(10)

,id,student_name,student_email,student_gender,student_age,student_course,student_degree,course_id,enrolled_course
0,1,Harriet Welch,harriet.welch@outlook.com,Female,33,Business & Management,Bachelor Degree,"['MS-4430', 'BM-7543', 'MA-7693', 'CS-8976', '...",MS-4430
1,2,Kathy Stewart,kathy.stewart@outlook.com,Male,26,Arts & Humanities,Bachelor Degree,"['ML-5520', 'MC-0309', 'MD-0100', 'BS-8990', '...",MC-0309
2,3,Wendy Thomas,wendy.thomas@outlook.com,Male,28,Business & Management,Bachelor Degree,"['MD-4998', 'MZ-9600', 'DM-7571', 'BA-8090', '...",MD-4998
3,4,Reginald Lee,reginald.lee@outlook.com,Female,38,Nursing,Bachelor Degree,"['MT-0022', 'BQ-5533', 'BR-1790', 'MS-5533', '...",MS-5533
4,5,Aaron Henson,aaron.henson@outlook.com,Female,20,Computer Science & Information Technology,Bachelor Degree,"['BD-1199', 'ME-2039', 'MC-7282', 'MD-1219', '...",MC-7282
5,6,Janet Singleton,janet.singleton@outlook.com,Male,29,Education,Doctorate Degree,"['MF-2400', 'BN-7775', 'DX-3738', 'BA-6633', '...",BA-6633
6,7,Ronnie Cruz,ronnie.cruz@outlook.com,Male,38,Engineering,Bachelor Degree,"['DC-5050', 'MC-5050', 'BB-5511', 'BC-4400', '...",DC-5050
7,8,John Woodyard,john.woodyard@outlook.com,Female,34,Engineering,Doctorate Degree,"['CS-8976', 'ME-7070', 'BC-4400', 'MT-0022', '...",ME-7070
8,9,Will Backus,will.backus@outlook.com,Female,42,Engineering,Doctorate Degree,"['BE-2983', 'MC-5050', 'MA-7693', 'MT-6325', '...",MA-7693
9,10,Grant Allan,grant.allan@outlook.com,Male,44,Arts & Humanities,Bachelor Degree,"['BC-5759', 'MC-5050', 'BT-1144', 'MG-3700', '...",BT-1144

In [ ]:
train_dmatrix` = DMatrix(X_train, y_train)
test_dmatrix = DMatrix(X_test)
#train_dmatrix.set_group(group_train)

params = {'objective': 'rank:pairwise', 'eta': 0.1, 'gamma': 1.0,
               'min_child_weight': 0.1, 'max_depth': 6}
xgb_model = xgb.train(params, train_dmatrix, num_boost_round=4,)

pred = `xgb_model.predict(test_dmatrix)

In [4]:
import pandas as pd
import numpy as np
from xgboost import DMatrix,train

xgb_rank_params1 ={    
    'booster' : 'gbtree',
    'eta': 0.1,
    'gamma' : 1.0 ,
    'min_child_weight' : 0.1,
    'objective' : 'rank:pairwise',
    'eval_metric' : 'merror',
    'max_depth' : 6,
    'num_boost_round':10,
    'save_period' : 0 
}

xgb_rank_params2 = {
    'bst:max_depth':2, 
    'bst:eta':1, 'silent':1, 
    'objective':'rank:pairwise',
    'nthread':4,
    'eval_metric':'ndcg'
}
  

#generate training dataset
#一共2组*每组3条，6条样本，特征维数是2
n_group=2
n_choice=3  
dtrain=np.random.uniform(0,100,[n_group*n_choice,2])    
#numpy.random.choice(a, size=None, replace=True, p=None)
dtarget=np.array([np.random.choice([0,1,2],3,False) for i in range(n_group)]).flatten()
#n_group用于表示从前到后每组各自有多少样本，前提是样本中各组是连续的，[3，3]表示一共6条样本中前3条是第一组，后3条是第二组
dgroup= np.array([n_choice for i in range(n_group)]).flatten()

# concate Train data, very import here !
xgbTrain = DMatrix(dtrain, label = dtarget)
xgbTrain.set_group(dgroup)

# generate eval data
dtrain_eval=np.random.uniform(0,100,[n_group*n_choice,2])        
xgbTrain_eval = DMatrix(dtrain_eval, label = dtarget)
xgbTrain_eval .set_group(dgroup)
evallist  = [(xgbTrain,'train'),(xgbTrain_eval, 'eval')]

# train model
# xgb_rank_params1加上 evals 这个参数会报错，还没找到原因
# rankModel = train(xgb_rank_params1,xgbTrain,num_boost_round=10)
rankModel = train(xgb_rank_params2,xgbTrain,num_boost_round=20,evals=evallist)

#test dataset
dtest=np.random.uniform(0,100,[n_group*n_choice,2])    
dtestgroup=np.array([n_choice for i in range(n_group)]).flatten()
xgbTest = DMatrix(dtest)
xgbTest.set_group(dgroup)

# test
print(rankModel.predict( xgbTest))

d:\Work\venvs\ds\lib\site-packages\xgboost\compat.py:36: FutureWarning: pandas.Int64Index is deprecated and will be removed from pandas in a future version. Use pandas.Index with the appropriate dtype instead.
  from pandas import MultiIndex, Int64Index

[21:31:54] WARNING: C:/Users/Administrator/workspace/xgboost-win64_release_1.5.1/src/learner.cc:576:
Parameters: { "bst:eta", "bst:max_depth", "silent" } might not be used.

  This could be a false alarm, with some parameters getting used by language bindings but
  then being mistakenly passed down to XGBoost core, or some parameter actually being used
  but getting flagged wrongly here. Please open an issue if you find any such cases.


[0]	train-ndcg:0.89835	eval-ndcg:0.82950
[1]	train-ndcg:0.89835	eval-ndcg:0.67376
[2]	train-ndcg:1.00000	eval-ndcg:0.67376
[3]	train-ndcg:0.89835	eval-ndcg:0.67376
[4]	train-ndcg:1.00000	eval-ndcg:0.67376
[5]	train-ndcg:1.00000	eval-ndcg:0.67376
[6]	train-ndcg:1.00000	eval-ndcg:0.67376
[7]	train-ndcg:1.00000	eval-ndcg:0.67376
[8]	train-ndcg:1.00000	eval-ndcg:0.67376
[9]	train-ndcg:1.00000	eval-ndcg:0.67376
[10]	train-ndcg:1.00000	eval-ndcg:0.67376
[11]	train-ndcg:1.00000	eval-ndcg:0.67376
[12]	train-ndcg:1.00000	eval-ndcg:0.67376
[13]	train-ndcg:1.00000	eval-ndcg:0.67376
[14]	train-ndcg:1.00000	eval-ndcg:0.67376
[15]	train-ndcg:1.00000	eval-ndcg:0.67376
[16]	train-ndcg:1.00000	eval-ndcg:0.67376
[17]	train-ndcg:1.00000	eval-ndcg:0.67376
[18]	train-ndcg:1.00000	eval-ndcg:0.67376
[19]	train-ndcg:1.00000	eval-ndcg:0.67376
[ 1.2635047  -1.3305609   0.42934334 -1.1952735   1.2635047   1.2635047 ]

In [8]:
dtrain

array([[68.82508687, 20.77175391],
       [95.32165687,  0.50776975],
       [88.85981516, 81.98015991],
       [17.12851419, 15.76325768],
       [72.8233329 , 44.49603744],
       [63.44078952, 98.72791145]])

In [9]:
dtarget

array([0, 2, 1, 2, 1, 0])

In [10]:
xgbTrain